<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Demo</title>
<link rel="stylesheet"  th:href="@{/css/add-employee-style.css}" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2 th:text="#{header.addEmployee}"></h2>
		</div>
	</div>
	<div id="container">
		<form action="#" th:action="@{./process-form?lang=} + ${#locale}" th:object="${employee}"
			method="post">
			<table>
				<tr>
					<td>
                  		<strong th:utext="#{label.name}"></strong>
               		</td>
					<td>
						<input type="text" th:field="*{name}" />
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
					</td>
					
				</tr>
				<tr>
					<td>
                  		<strong th:utext="#{label.surname}"></strong>
               		</td>
					<td>
						<input type="text" th:field="*{surname}" />
						<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></span>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" th:value="#{label.submit}" />
					</td>
				</tr>
			</table>
		</form>

		<p>
			<a th:href="@{./show?lang=} + ${#locale}" th:text="#{link.goToShowEmployees}"></a>
		</p>
		<div style="position: absolute; right: 0px; padding-right:20px;">
			<span><a href="?lang=en">English</a></span>
			<span><a href="?lang=ja">日本語</a></span>
		</div>
	</div>
</body>

</html>