<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Demo</title>
<link rel="stylesheet"  th:href="@{/css/style.css}" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2 th:text="#{header.addEmployee}"></h2>
		</div>
	</div>

	<div id="container">
		<div id="content">
			<table>
				<tr>
					<th>ID</th>
					<th>
						<strong th:utext="#{label.name}"></strong>
					</th>
					<th>
						<strong th:utext="#{label.surname}"></strong>
					</th>
				</tr>
				<th:block th:each="employee : ${employees}">
					<tr>
						<td th:text="${employee.id}"></td>
						<td th:text="${employee.name}"></td>
						<td th:text="${employee.surname}"></td>
					</tr>
				</th:block>

			</table>
		</div>
		<p>
			<a th:href="@{./add?lang=} + ${#locale}" th:text="#{link.goToAddEmployee}"></a>
		</p>
		<div style="position: absolute; right: 0px; padding-right:20px;">
			<span><a href="?lang=en">English</a></span>
			<span><a href="?lang=ja">日本語</a></span>
		</div>
	</div>
</body>

</html>